.Tab{
  background: rgb(30,37,43);
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 6px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  font-size: 12px;
  font-family: 'Helvetica', Arial, sans-serif;
}
